.header{
    background: rgb(210,209,209);
    background: linear-gradient(0deg, rgba(210,209,209,0.5196342575115984) 0%, rgba(213,213,213,0.5168331370634192) 50%, rgba(193,191,191,0.6036678709569765) 100%);
}

 .repo-details img {
    height: 50px;
    border: 0.5px solid #9e9c9c47;
    border-radius: 12px;
}
.repo-details{
    width: 80%;
    font-size:23px;
    margin: auto;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}